.background {
  padding-top: 40px; /* ajuste o valor de acordo com a altura da sua barra */
}

.grid-loja {
  position: sticky;
  top: 60px;
  background-color: #dddddd18;
  border: 1px solid #0e0e0e56;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: auto;
  opacity: 0;
  animation: fadeIn 0.9s ease forwards;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table-container-loja {
  overflow-y: auto; /* Torna a tabela rol�vel verticalmente */
  max-height: 98vh; /* Defina a altura m�xima da altura da janela */
}

.table-container-loja thead th {
  position: sticky;
  top: -1px;
  background-color: rgb(73, 73, 73) !important;
  z-index: 1;
  border: none;
}

.table-container-loja thead {
  position: sticky;
  top: -1px;
  z-index: 1;
  border: none;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.btn-salvar-button {
  padding: 15px;
  height: 32px;
  width: 285px;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  background-color: #fda21e !important;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-salvar-button:hover {
  color: #ffffff !important;
  background: #c98300;
}

.btn-cancelar-button {
  padding: 15px;
  height: 32px;
  width: 285px;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  background-color: #838282 !important;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .custom-loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #fda21e 0 10px, #fda21e 0 20px)
      left/0% 100% no-repeat,
    repeating-linear-gradient(135deg, #f47b0233 0 10px, #f47b021a 0 20px)
      left/100% 100%;
  animation: p3 2s infinite;
}
@keyframes p3 {
  100% {
    background-size: 100% 100%;
  }
} */

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  color: #fda21e;
}

.custom-loader:before,
.custom-loader:after {
  content: "";
  grid-area: 1/1;
  --c1: linear-gradient(
    90deg,
    #0000 calc(100% / 3),
    currentColor 0 calc(2 * 100% / 3),
    #0000 0
  );
  --c2: linear-gradient(
    0deg,
    #0000 calc(100% / 3),
    currentColor 0 calc(2 * 100% / 3),
    #0000 0
  );
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l1 1s infinite linear;
}

.custom-loader:after {
  margin: 10px;
  transform: scaleX(-1);
  animation-delay: -0.25s;
}

@keyframes l1 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0;
  }
  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0;
  }
  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0;
  }
  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%;
  }
  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%;
  }
  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%;
  }
}

.text-loading {
  text-shadow: 3px 4px 5px rgb(51, 51, 51);
}

.botao-cadastro-loja {
  color: #ffffff !important;
  font-size: 16px;
  text-shadow: 0px 0px 0px #fda21e;
  box-shadow: 0px 0px 0px #fda21e;
  padding: 8px 40px;
  border-radius: 40px;
  border: 0px solid #fda21e;
  background: #fda21e;
}

.botao-cadastro-loja:hover {
  color: #ffffff !important;
  background: #c98300;
}

.botao-cancelar-loja {
  color: #ffffff !important;
  font-size: 16px;
  text-shadow: 0px 0px 0px #6d6d6d;
  box-shadow: 0px 0px 0px #6d6d6d;
  padding: 8px 40px;
  border-radius: 40px;
  border: 0px solid #6d6d6d;
  background: #6d6d6d;
}

.botao-cancelar-loja:hover {
  color: #ffffff !important;
  background: #949494;
}

.modal-loja-header,
.modal-loja-body {
  background-color: rgba(114, 114, 114, 0.048);
}
